.animalCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  margin: 1rem;
  border-radius: 7px;
  max-width: 25vw;
  background-color: white;
  transition-duration: 500ms;
}

.animalCard:hover {
  transform: scale(104%);
}

.image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.animalName {
  margin: 0.5rem;
}

.likes {
  font-size: 1.2rem;
}

.bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}
