.animalCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px solid rgb(0, 0, 0);
  margin: 1rem;
  border-radius: 7px;
  max-width: 12rem;
  background-color: rgb(14, 114, 1);
  transition-duration: 500ms;
}

.animalCard:hover {
  transform: scale(102%);
}

.animalCard:hover img {
  filter: grayscale(0);
}

.image {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
  position: relative;
  filter: grayscale(100);
}

.closeBtn {
  border: none;
  border-radius: 50%;
  background-color: black;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  right: 5px;
  box-shadow: 0 0 5px black;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.15;
  transition-duration: 250ms;
}

.closeBtn:active {
  box-shadow: inset 0 0 5px black;
  background-color: grey;
  color: red;
}

.closeBtn:hover {
  opacity: 1;
}

.animalName {
  margin: 1.5rem;
}

.likes {
  font-size: 1.2rem;
  margin: 0 0.25rem;
}

.bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}
