.animalCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  margin: 1rem;
  border-radius: 7px;
  max-width: 18rem;
  background-color: white;
  transition-duration: 500ms;
  position: relative;
}

.animalCard:hover {
  transform: scale(102%);
}

.image {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
}

.closeBtn {
  border: none;
  border-radius: 50%;
  padding: 0.5rem 0.75rem;
  background-color: red;
  position: absolute;
  top: 5px;
  right: 5px;
  box-shadow: 0 0 5px black;
}

.closeBtn:active {
  box-shadow: inset 0 0 5px black;
}

.animalName {
  margin: 1.5rem;
}

.likes {
  font-size: 1.2rem;
  margin: 0 0.25rem;
}

.bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}
