@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  background-color: rgb(20, 154, 0);
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.header {
  margin: 2rem;
}

.searchBar {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 5px;
  width: 25rem;
  justify-content: space-between;
}

.searchInput {
  background-color: orange;
  padding: 0.25rem;
  border-radius: 5px;
}

.AnimalCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
